<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <h1 align="center">All Events</h1>
    <h2 th:unless="${events} and ${events.size()}" align="center">No events!</h2>
    <table th:if="${events} and ${events.size()}" style="width:100%">
        <tr>
            <th>Event Name</th>
            <th>Description of Event</th>
        </tr>
        <th:block th:each="event : ${events.keySet()}">
            <tr>
                <td th:text="${event}" align="center"></td>
                <td th:text="${events.get(event)}" align="center"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>